<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLKSSML.Properties.Settings.QLKS_SMLConnectionString"
            connectionString="Data Source=UFYNDEVZ5K1UKA9\SQLEXPRESS;Initial Catalog=QLKS_SML;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>